*.o
*.lex.cpp
.*.swp
*.gcov
confdefs.h

unittest

coverage/
debug/
release/
profile/
report/
vera/
makedependency/

makefile_tmp
Makefile.extra
Makefile.config

aclocal.m4
autom4te.cache/

config.log
config.status

libtool
stamp-*

config.h
src/ThorsChalice/ThorsChaliceConfig.h
src/ThorsSlackBot/ThorsSlackBotConfig.h
src/ThorsSlack/ThorsSlackConfig.h
MockHeaderInclude.h

CallCheckAfterLibChange.dylib
